<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Shop</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/catalog.css">
    <link rel="stylesheet" href="libs/slick-slider/slick.css">
    <link rel="stylesheet" href="libs/slick-slider/slick-theme.css">
    <link rel="stylesheet" href="css/style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<!-- Header start -->
<header class="page-header">
    <div class="container">
        <div class="header-wrap">
            <a href="customer.html" class="header-logo">
                <h1>Shoe Shop</h1>
            </a>
            <div class="header-user">
                <div class="user-sign-up">
                    <a href="#">Sign Up</a>
                </div>
                <div class="user-bag">
                    <a href="shoping-bag.html">
                        <i class="bag-icon">
                            <img src="images/bag-icon.jpg" alt="Bag icon">
                        </i>
                        Shopping Cart
                        <span class="total-price"></span>
                        <span class="amount">0</span>
                    </a>
                </div>
            </div>
            <button class="toggle-menu">
                <span>toggle menu</span>
            </button>
        </div>
    </div>
</header>
<!-- Header end -->
<!-- Main start -->
<main class="page-main">
    <div class="container">
        <section class="catalog-filter">
            <ul class="filter-list-mobile">
                <li class="filter-list-item-mobile">Fashion</li>
                <li class="filter-list-item-mobile">Product type</li>
                <li class="filter-list-item-mobile">Color</li>
                <li class="filter-list-item-mobile">Brand</li>
                <li class="filter-list-item-mobile">Size</li>
                <li class="filter-list-item-mobile">Price range</li>
                <span class="close-filter"></span>
            </ul>
            <ul class="filter-list">
                <li class="filter-list-item"><span class="list-item-caption">Fashion</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">Nail the 90s</li>
                        <li class="sub-list-item">Casual style</li>
                        <li class="sub-list-item">New Look</li>
                        <li class="sub-list-item">Sport</li>
                    </ul>
                </li>
                <li class="filter-list-item"><span class="list-item-caption">Product type</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">Coats & Jackets</li>
                        <li class="sub-list-item">Drasses</li>
                        <li class="sub-list-item">Jersey Tops</li>
                    </ul>
                </li>
                <li class="filter-list-item"><span class="list-item-caption">Color</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">Black</li>
                        <li class="sub-list-item">Blue</li>
                        <li class="sub-list-item">Red</li>
                        <li class="sub-list-item">Green</li>
                        <li class="sub-list-item">Orange</li>
                    </ul>
                </li>
                <li class="filter-list-item"><span class="list-item-caption">Brand</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">Nike</li>
                        <li class="sub-list-item">Puma</li>
                        <li class="sub-list-item">Adidas</li>
                        <li class="sub-list-item">New Balance</li>
                    </ul>
                </li>
                <li class="filter-list-item"><span class="list-item-caption">Size</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">UK 2</li>
                        <li class="sub-list-item">UK 18</li>
                        <li class="sub-list-item">UK 18L</li>
                        <li class="sub-list-item">UK 20</li>
                        <li class="sub-list-item">UK 20L</li>
                        <li class="sub-list-item">UK 20S</li>
                        <li class="sub-list-item">UK 22S</li>
                        <li class="sub-list-item">UK 22</li>
                    </ul>
                </li>
                <li class="filter-list-item"><span class="list-item-caption">Price range</span>
                    <span class="select-value"></span>
                    <ul class="filter-sub-list">
                        <li class="sub-list-item">Not selected</li>
                        <li class="sub-list-item">to £99</li>
                        <li class="sub-list-item">£100-£299</li>
                        <li class="sub-list-item">from £300</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="catalog-items">
            <div class="container">
                <div class="items-wrap"></div>
                <button class="catalog-btn">Show more</button>
            </div>
        </section>
        <section class="catalog-banner"></section>
    </div>
</main>
<!-- Main end -->
<!-- Footer start -->
<footer class="page-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-left">
                <div class="footer-links">
                    <h3 class="footer-links-title">Quick Links</h3>
                    <ul class="footer-links-list">
                        <li><a href="#">Store locator</a></li>
                        <li><a href="#">Gift cards</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="footer-care">
                    <h3 class="footer-care-title">Customer Care</h3>
                    <ul class="footer-care-list">
                        <li><a href="#">Customer service</a></li>
                        <li><a href="#">Return policy</a></li>
                        <li><a href="#">Shipping & delivery</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-contact">
                    <div class="footer-contact-phone">
                        <h3 class="footer-phone-title">Contact Us</h3>
                        <span class="footer-phone-desc"><a href="tel: 8-123-456-78-90">8-123-456-78-90</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright">&copy; Shoe Shop By Group 4.</p>
            <ul class="footer-info">
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Footer end -->
<script src="js/header.js"></script>
<script src="js/catalog-data.js"></script>
<script src="js/catalog.js"></script>
</body>
</html>