<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Shop</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/item.css">
    <link rel="stylesheet" href="libs/slick-slider/slick.css">
    <link rel="stylesheet" href="libs/slick-slider/slick-theme.css">
    <link rel="stylesheet" href="css/style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<!-- Header start -->
<header class="page-header">
    <div class="container">
        <div class="header-wrap">
            <a href="customer.html" class="header-logo">
                <h1>Shoe Shop</h1>
            </a>
            <div class="header-user">
                <div class="user-sign-up">
                    <a href="#">Sign Up</a>
                </div>
                <div class="user-bag">
                    <a href="shoping-bag.html">
                        <i class="bag-icon">
                            <img src="images/bag-icon.jpg" alt="Bag icon">
                        </i>
                        Shopping Cart
                        <span class="total-price"></span>
                        <span class="amount">0</span>
                    </a>
                </div>
            </div>
            <button class="toggle-menu">
                <span>toggle menu</span>
            </button>
        </div>
    </div>
</header>
<!-- Header end -->
    <!-- Main start -->
    <main class="page-main">
        <div class="container">
            <section class="toCatalog">
                <a href="catalog.html">Back to catalog</a>
            </section>
            <section class="item"></section>
            <section class="item-banner"></section>
        </div>
    </main>
    <!-- Main end -->
<!-- Footer start -->
<footer class="page-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-left">
                <div class="footer-links">
                    <h3 class="footer-links-title">Quick Links</h3>
                    <ul class="footer-links-list">
                        <li><a href="#">Store locator</a></li>
                        <li><a href="#">Gift cards</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="footer-care">
                    <h3 class="footer-care-title">Customer Care</h3>
                    <ul class="footer-care-list">
                        <li><a href="#">Customer service</a></li>
                        <li><a href="#">Return policy</a></li>
                        <li><a href="#">Shipping & delivery</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-contact">
                    <div class="footer-contact-phone">
                        <h3 class="footer-phone-title">Contact Us</h3>
                        <span class="footer-phone-desc"><a href="tel: 8-123-456-78-90">8-123-456-78-90</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright">&copy; Shoe Shop By Group 4.</p>
            <ul class="footer-info">
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Footer end -->
    <script src="js/header.js"></script>
    <script src="js/catalog-data.js"></script>
    <script src="js/item.js"></script>
</body>

</html>