<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, td1, td2, td3;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0]; // for column one
            td1 = tr[i].getElementsByTagName("td")[1]; // for column two
            td2 = tr[i].getElementsByTagName("td")[2]; // for column two
            td3 = tr[i].getElementsByTagName("td")[3]; // for column two
            /* ADD columns here that you want you to filter to be used on */
            if (td) {
                if ( (td.innerHTML.toUpperCase().indexOf(filter) > -1) || (td1.innerHTML.toUpperCase().indexOf(filter) > -1)  || (td2.innerHTML.toUpperCase().indexOf(filter) > -1) || (td3.innerHTML.toUpperCase().indexOf(filter) > -1))  {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
</script>

<body>
<div class="container-fluid">
    <div class="m-2">
        <h2 style="float: left; width: 400px;">Member</h2>
        <a th:href="@{/users}">home</a>
        <a class="h3" th:href="@{/users/new}" style="color: chocolate; text-decoration: none; float: right;">Add New Member</a>
        <input type="text" th:placeholder="Search" style="margin-left: 100px; margin-top: 10px; border-radius: 10px; width: 350px;" id="myInput" onkeyup="myFunction()">

    </div>


    <div>
        <table class="table table-bordered" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>

                <th>Name</th>

                <th>Email</th>

                <th>Phone</th>

                <th></th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="member: ${listMember}">

                <tr>
                    <td>[[${member.id}]]</td>

                    <td>[[${member.Name}]]</td>

                    <td>[[${member.Email}]]</td>

                    <td>[[${member.Phone}]]</td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>